<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testautomation-training" parallel="tests" thread-count="1" time-out="300000">

    <test name="Test-Plan">
        <classes>
            <class name="com.testautomation.task.TestPlan"/>
        </classes>
    </test>
</suite>